{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'chrlogo_200px.png'%}">
    </a>
    <h1>Welcome to ACCrobat!</h1>
    <p>With ACCrobat, you can analyze and visualize TCGA .BED files easily for fast insights into tumor genetic data.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"><span class="glyphicon glyphicon-flash"></span>Get Started!</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/colbytylerford/projectaccrobat"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this app works</h3>
      <ul>
        <li>This app was developed in Python and deployed to Heroku using <a href="https://github.com/colbytylerford/projectaccrobat">GitHub</a> as the repository.</li>
        <li>ACCrobat takes TCGA .BED files and summarizes their data by pivoting and visualizing the information.</li>
        <li>The output presented by this application can help us to understand the genetic differences of tumors from looking at various cell samples.</li>
    </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://tcga-data.nci.nih.gov/tcga/">TCGA Data Portal</a></li>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
        <li><a href="https://bioinformatics.uncc.edu/">Bioinformatics@UNCC</a></li>
    </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
   2016 Ford, Nodzak, Zhao - The University of North Carolina at Charlotte
  </div>
</div>
{% endblock %}
