{% extends 'analysis/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                <p>Run on: {{ post.published_date }} by {{post.author}}</p>
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.description|linebreaks }}</p>
        <p><a href="../../{{ post.file.url }}">{{ post.file }}</a></p>
        <p><a href="../../{{ post.file.name }}_outputtemp.vcf">{{ post.output }}</a></p>
    </div>
{% endblock %}