{% extends 'analysis/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                <p>Run on: {{ post.published_date }} by {{post.author}}</p>
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.description|linebreaks }}</p>
        <p>Uploaded File: <a href="../../{{ post.file.url }}">{{ post.file }}</a></p>
        <p>Converted File: <a href="../../analysis/uploads/{{ post.vcfoutput }}">{{ post.vcfoutput }}</a></p>
        <p>Annotations: <a href="../../analysis/uploads/{{ post.snpeffvcfoutput }}">{{ post.snpeffvcfoutput }}</a></p>
        <p>Missense Mutation Results: <a target="_blank" href="../../analysis/uploads/{{ post.snpeffhtmlmissenseoutput }}">{{ post.snpeffhtmlmissenseoutput }}</a></p>
        <p><iframe src="../../analysis/uploads/{{ post.snpeffhtmloutput }}" width="1050px" height="2500px" style="border:none"></iframe></p>
        
    </div>
{% endblock %}